body{
    background-image:url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    display: block;
    
    margin-top: 170px;
    width: 40%;
    
    
    margin-left: auto;
    
    
    margin-right: auto;
}
    .logo{
    
        animation: pulse 3s linear infinite;
 }
 
 @-webkit-keyframes "pulse" {
 0% {
     -webkit-transform: scale(1);
     transform: scale(1.05);
 }
 50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
 }
 100% {
     -webkit-transform: scale(1);
    transform: scale(1);
 }
}

.heading{
    display: block;
    
    padding-top: 30px;
    
    width: 50%;
    
    
    margin-left: auto;
    
    
    margin-right: auto;
}